* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0; /* Color de fondo más suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px; /* Espaciado adicional para evitar que el contenido se adhiera a los bordes en pantallas pequeñas */
}

form {
    max-width: 360px; /* Ajuste de ancho para una apariencia más compacta */
    margin: 0 auto;
    padding: 2em; /* Espaciado interno más generoso */
    border: 1px solid #ddd;
    border-radius: 8px; /* Bordes ligeramente más redondeados */
    background-color: #ffffff; /* Fondo más claro para un mejor contraste */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto de elevación */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1em; /* Espaciado inferior para separación visual */
    font-weight: bold; /* Texto más destacado */
}

div {
    margin-bottom: 1.5em; /* Espaciado inferior más generoso entre elementos */
}

label {
    margin-bottom: .5em;
    color: #555; /* Color de texto más suave */
    display: block;
    font-size: 0.9em; /* Texto ligeramente más pequeño para mayor refinamiento */
}

input {
    border: 1px solid #ccc;
    padding: 0.75em; /* Espaciado interno más cómodo */
    font-size: 1em;
    border-radius: 6px; /* Bordes más redondeados */
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out; /* Transición suave en el borde al enfoque */
}

input:focus {
    border-color: #007BFF; /* Color de borde al enfocar */
    outline: none; /* Eliminación del borde predeterminado */
}

button {
    padding: 0.75em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out; /* Transición suave en el cambio de color */
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494; /* Color más oscuro al hacer clic */
}

button:focus {
    outline: none; /* Eliminación del borde predeterminado al enfocar */
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25); /* Sombra de enfoque accesible */
}
